*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu{
    background: #1b98e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
    height: 4em;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    display: flex;
}
li{
    font-weight: bolder;
    list-style: none;
}
li a{
    background: #247ba0;
    color: black;
    text-decoration: none;
    padding: 1vw;
    margin-left: 1vw;
    border-radius: 5px;
    transition: .9s;
}
li a:hover{
    transition: .7s;
    background-color: rgb(1, 212, 212);
}
.conteudo{
    background: #bdc0c7;
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.apre{
    display: flex;
    background: #1aa3b3;
    width: 820px;
    height: 350px;
    justify-content: space-around;
    align-items: center;
}
.apre-apre{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.img-icon{
    max-width: 5vw;
    border-radius: 1em;
}
.papre{
    font-weight: bolder;
    width: 190px;
    font-size: 20px;

}

.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    background-color: #006494;
    width: 13.5vw;
    height: 12vw;
    padding: 1.5vw;
    border-radius: 1em;
}
.habilidades img{
    margin: 3px;
    height: 3.5em;
    border-radius: 5px;
}
.habilidades img:hover{
    background-color: #9c9c9c;
    box-shadow: #9c9c9c 0px 0px 9px 5px;
}

.projetos{
    background: #006494;
    width: 800px;
    padding: 10px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    row-gap: 5px;
}

.projetos a{
    margin-top: 1vh;
    background: #1aa3b3;
    font-weight: bolder;
    height: 15vh;
    width: 140px;
    text-decoration: none;
    color: black;
    border-radius: 1em;
    text-align: center;
    padding: 15px;
    transition: .7s;
}
.projetos a:hover{
    transition: .7s;
    background: #01bea5;
}

.projetos a img{
    width: 140px;
    height: 85%;
    border-radius: 0.9em 0.9em .9em .9em;
    transition: .7s;

}
.projetos a img:hover{
    transition: .3s;
    border-radius: 0em 0em .9em .9em;
    margin-left: -15px;
    width: 170px;
    height: 99%;
}

footer{
    height: 100px;
    background: #247ba0;
    width: auto;
}

/* inicio responsividade*/

@media screen and (max-width:1020px){

.menu{
    width: auto;
}

li a{
    padding: 10px;
}

.conteudo{
    width: auto;
    height: auto;

}
.apre{
    width: 700px;
    height: 350px;

}

.habilidades{
    width: 300px;
}
.habilidades img{
    height: 3em;
}

.projetos{
    width: 680px;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-around;
}

.projetos a{
    height: 100px;
}
.projetos a img{
    transition: .7s;
}
.projetos a img:hover{
    height: 97%;
    transition: .7s;
}

}




@media screen and (max-width:720px) {
    .menu{
        justify-content: space-around;
        max-width: 719px;
    }
    ul{
        margin-top: 2vh;
    }
    li {
        margin: 0 10px;
        margin-top: 10px;
    }
    .conteudo{
        width: auto;
        max-width: 720px;
        height: 100%;

    }

    .apre{
        min-height: 100px;
        width: 100%;
        padding: 1em 0;
        flex-direction: column;
        justify-content:space-between;
    }
    .img-icon{
        max-width: 10vw;
    }
    .papre{
        width: 200px;
    }
    .habilidades{
        margin: .3em 0;
        justify-content: space-around;
        margin-left: 15px;
    }
    .habilidades img{
        height: 30px;
    }

    .projetos{
        height: auto;
        width: 70%;
        display: grid;
        grid-template-columns: 35% 35%;
    }
    .projetos a{
        width: 90px;
    }
    .projetos a img{
        width: 100px;
        height: 75px;
    }
    .projetos a img:hover{
        width: 119px;
        height: 97px;
    }
    #pro1:hover{
        height: 80px;
    }
    footer{
        margin-top: 0;
    }


}

@media screen and (max-width:430px) {
    .menu{
        padding: 0;
        margin: 0;
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        padding: 0;
        margin: 0;
    }

    ul{
        padding: 0;
        margin: 0;
    }

    li a{
        padding: 1vw;
        font-size: .8em;
    }

    .conteudo{
        margin-top: 0;
    }
    .linkedin{
        padding: 5px;
    }
    .habilidades{
        height: 500px;
        width: auto;
        max-width: 419px;
    }
    .projetos{
        display: grid;
        grid-template-columns: 30%;

    }
    .projetos a{
        width: 100px;
        padding: 10px;

    }
    .projetos a img{
        width: 70px;
    }
    .projetos a img:hover{
        width: 120px;
        height: 92px;
        margin-left: -10px;

    }
    #pro1{
        height: 60px;
    }
    #pro1:hover{
        height: 74px;

    }

    footer{
        width: auto;
    }
}