*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu{
    background: #1b98e0;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
}
body{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
}
li{
    font-weight: bolder;
    margin: 0 1vw;
    list-style: none;
}
li a{
    background: #247ba0;
    color: black;
    text-decoration: none;
    padding: 1vw;
    border-radius: 5px;
    transition: .9s;
}
li a:hover{
    transition: .7s;
    background-color: rgb(1, 212, 212);
}
.conteudo{
    background: #bdc0c7;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.apre{
    display: flex;
    background: #1aa3b3;
    width: 820px;
    height: 350px;
    justify-content: space-around;
    align-items: center;
}
.apre-apre{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.img-icon{
    max-width: 5vw;
    border-radius: 1em;
}
.papre{
    font-weight: bolder;
    margin-top: 1vw;
    width: 120px;

}
.linkedin{
    background: #1b98e0;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: rgb(5, 5, 131);
    font-weight: bolder;
    transition: .5s;
}
.linkedin:hover{
    transition: .7s;
    background: #ececec;
}
.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    background-color: #006494;
    width: 13.5vw;
    height: 12vw;
    padding: 1.5vw;
    border-radius: 1em;
}
.habilidades img{
    height: 4em;
}

.projetos{
    background: #006494;
    width: 820px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projetos a{
    background: #1aa3b3;
    font-weight: bolder;
    height: 120px;
    width: 140px;
    text-decoration: none;
    color: black;
    border-radius: 1em;
    text-align: center;
    padding: 15px;
    transition: .7s;
}
.projetos a:hover{
    transition: .7s;
    background: #01bea5;
}

.projetos a img{
    width: 140px;
    height: 85%;
    border-radius: 0.9em 0.9em .9em .9em;
    transition: .7s;

}
.projetos a img:hover{
    transition: .3s;
    border-radius: 0em 0em .9em .9em;
    margin-left: -15px;
    width: 170px;
    height: 99%;
}

footer{
    height: 100px;
    background: #247ba0;
}

/* inicio responsividade*/

@media screen and (max-width:1020px){

.menu{
    max-width:1020px;
}

li a{
    padding: 10px;
}

.conteudo{
    width: 100%;
    height: 600px;

}
.apre{
    width: 700px;
    height: 350px;

}

.habilidades{
    width: 300px;
}
.habilidades img{
    height: 3em;
}

.projetos{
    width: 700px;
}

.projetos a{
    width: 15%;
    height: 100px;
}
.projetos a img{
    height: 10vw;
    width:100%;
    transition: .7s;
}
.projetos a img:hover{
    height: 97%;
    width: 129%;
    transition: .7s;
}
#aaaa{
    max-height: 79%;
}



}




@media screen and (max-width:720px) {
    .menu{
        justify-content: space-around;
        height: 7vw;
        min-width: 400px;
        width: 93.5vw;
        max-width: 719px;
    }
    ul{
    }
    li {
        margin: 0 10px;
        margin-top: 10px;
    }
    .conteudo{
        min-width: 400px;
        width: 97.5vw;
        max-width: 720px;
        height: 100%;
    }

    .apre{
        min-height: 100px;
        width: 100%;
        padding: 1em 0;
        flex-direction: column;
        justify-content:space-between;
    }
    .img-icon{
        max-width: 10vw;
    }
    .papre{
        width: 200px;
    }
    .habilidades{
        margin: .3em 0;
        justify-content: space-around;
        margin-left: 15px;
    }
    .habilidades img{
        height: 30px;
    }

    .projetos{
        flex-direction: column;
        margin-top: 0px;
        height: 500px;
        width:89vw;
        padding: 1.5em;
    }
    .projetos a{
        margin: 10px;
        height: 100px;
    }
    footer{
        margin-top: 0;
    }


}
